<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/error.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header id="header">
    헤더 삽입부
    <hr>
</header>


<div class="error_container">
    <div class="error_block">
        <h3>이런... 뭔가 잘못됐군요!</h3><br>
        <p>이 화면이 지속되면 관리자에게 연락주세요!</p>
    </div>
</div>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>
</body>
</html>