<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/sign-up.css" rel="stylesheet">

</head>

<body>
<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 class="mb-3">회원가입</h4>필수입력 *<br>
      <form class="validation-form" id="userSignUp" name="userSignUp" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="userid">ID *</label>
            <input type="text" class="form-control" id="userid" name="userId" placeholder="최소 5자 이상" value="" >
            <div class="invalid-feedback">
              아이디가 비어있습니다.
            </div>
            <div class="alert-danger" id="verifyUserId">이메일이 개판이시네요</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="password">비밀번호 *</label>
            <input type="password" class="form-control" id="password" name="userPassword" placeholder="최소 8자 이상 (영문자, 숫자 포함)" value="" >
            <div class="invalid-feedback" id="invalidPw">
              비밀번호가 비어있습니다.
            </div>
            <div class="alert-danger" id="verifyUserPw">이메일이 개판이시네요</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="nickname">별명 *</label>
          <input type="text" class="form-control" name="nickname" id="nickname" value="" placeholder="최소 5자 이상">
          <div class="invalid-feedback" id="invalidNickname">
            별명이 비어있습니다.
          </div>
          <div class="alert-danger" id="verifyNickname">이메일이 개판이시네요</div>
        </div>

        <div class="mb-3">
          <label for="email">이메일 *</label>
          <input type="email" class="form-control" name="email" id="email" value="" placeholder="ex) hello@world.com">
          <div class="invalid-feedback" id="invalidEmail">
            이메일이 비어있습니다.
          </div>
          <div class="alert-danger" id="verifyEmail">이메일이 개판이시네요</div>

        </div>

        <div class="mb-3">
          <label for="memo">메모</label>
          <input type="text" class="form-control" name="memo" id="memo" placeholder="하고싶은말을 적어주세요.">
        </div>

        <hr class="mb-4">
        ※ 본 사이트는 공부용이며 신청에 사용된 모든 정보의 안전성을 보장하지 않습니다.
<!--        <div class="custom-control custom-checkbox">-->
<!--          <input type="checkbox" class="custom-control-input" id="aggrement" required>-->
<!--          <label class="custom-control-label" for="aggrement">위 주의사항을 인지했습니다.</label>-->
<!--        </div>-->
        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" >가입 신청</button>
      </form>
    </div>
  </div>

  <footer id="footer">
    <hr>
    푸터 삽입부
  </footer>

</div>
<!--<script>-->
<!--  window.addEventListener('load', () => {-->
<!--    const forms = document.getElementsByClassName('validation-form');-->

<!--    Array.prototype.filter.call(forms, (form) => {-->
<!--      form.addEventListener('submit', function (event) {-->
<!--        if (form.checkValidity() === false) {-->
<!--          event.preventDefault();-->
<!--          event.stopPropagation();-->
<!--        }-->
<!--        form.classList.add('was-validated');-->
<!--      }, false);-->
<!--    });-->
<!--  }, false);-->


<!--</script>-->
</body>

</html>